<header>
    <h1>
        Dutch Treat
    </h1>
    <menu>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/app/contact">Contact</a></li>
        </ul>
    </menu>
</header>
<section>
    <h2>@ViewBag.Title</h2>
    @RenderBody()
</section>
<footer>Copyright 2017 Dutch Treat LLC</footer>